body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1;
  color: $color-grey-dark;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* This property is used to fix some animation issues when they finish. */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display:block;
    font-size: 6rem;
    font-weight: 400;
  
    animation-name: moveInUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    
    @include respond(phone) {
      letter-spacing: 1rem;
      font-family: 5rem;
    }
  }
  
  &--sub {
    display: block;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 1;
    margin-top: 3rem;
  
    animation-name: moveInDown;
    animation-duration: 1s;

    @include respond(phone) {
      letter-spacing: .3rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.25rem;
  }


  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-secondary_v2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: $color-white;
  letter-spacing: 2px;
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.25rem;
  }


  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-secondary_v3 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.25rem;
  }


  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-secondary_v4 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-yellow, $color-orange);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.25rem;
  }


  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 1px;
  color: $color-black;

  &__white {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2rem;
    letter-spacing: 1px;
    color: $color-white;
  }
}

.paragraph { 
  font-size: $default-font-size;
  line-height: 2rem;
  color: $color-black;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__white {
    font-size: $default-font-size;
    line-height: 2rem;
    color: $color-white;
  }
}

.paragraph__story { 
  font-size: $default-font-size;
  line-height: 2.5rem;
  color: $color-black;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  @include respond(phone-story) {
    font-size: $default-font-size;
    line-height: 2rem;
    color: $color-black;
  }
}